</html>
<head>
<script>
	var ballesplacees = 0;

function afficherchambre(numero){
	if(ballesplacees <3 ) {
	   var chambre = document.getElementById("Br" +numero);
	   if(chambre.style.fill === "red") {
		alert("cette chambre est déjà occupée");
		return;
	   }
	   chambre.style.fill = "red";
	   ballesplacees++;
	   alert("vous avez placé une balle dans cette chambre" + numero);
	 }
	 else{
		alert("vous ne pouvez placez que 3 balles maximum");
	 }



	}		      
	
function lancer(){
	

	var numeroaleatoire = Math.floor((Math.random() * 6) + 1);
	
	var chambrebleue = document.getElementById("Br" + numeroaleatoire);
	chambrebleue.style.fill = "blue";
	alert("la chambre " + numeroaleatoire + " a reçu la pastille bleue ")
	
	if (chambrebleue.style.fill === "red") {
		  alert("Perdu" + numeroaleatoire);
	} 
	else {
		var gains = 0;
		if (ballesplacees===1) {
			gains = 10000;
		}else if(ballesplacees ===2){
			gains = 100000;
		}else if (ballesplacees ===3){
			gains = 1000000;
		}
		}
		  alert("Bravo, vous avez gagné " + gains + "€");
	}
	function reinitialiser() {
		ballesplacees = 0;
		
	}	  






</script>


</head>
<body>
	<h1>Roulette Russe</h1>

	<svg width=200 height=200 style="background-color:antiquewhite">
	<circle cx="100" cy="100" r="95" stroke="black" stroke-width="3" fill="none" />
	<circle id="Br1" cx="100" cy="40" r="25" stroke="black" stroke-width="3" fill="gray" onclick="afficherchambre(1)" />
	<circle id="Br2" cx="150" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" onclick="afficherchambre(2)" />
	<circle id="Br3" cx="50" cy="70" r="25" stroke="black" stroke-width="3" fill="gray" onclick="afficherchambre(3)" />
	<circle id="Br4" cx="50" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" onclick="afficherchambre(4)" />
	<circle id="Br5" cx="150" cy="130" r="25" stroke="black" stroke-width="3" fill="gray" onclick="afficherchambre(5)" />
	<circle id="Br6" cx="100" cy="160" r="25" stroke="black" stroke-width="3" fill="gray" onclick="afficherchambre(6)" />
	<circle cx="100" cy="100" r="10" stroke="black" stroke-width="3" fill="black" />
	</svg>	
	
	<button onclick="lancer()">Jouer</button>
	<button onclick="reinitialiser()">Réinitialiser</button>
		
	
</body>
</html>